body{
    background-color: #1d1d1d;
}

header{
    height: 80vh;
    background-image: linear-gradient(
        to right bottom, 
        rgb(219, 11, 94, 0.781),
        rgb(111, 0, 237, 0.705)),
        url('./Cycle.jpg'); 
    background-size: cover;
    background-position: top;
    clip-path: polygon(100% 0, 100% 38%, 86% 70%, 0 53%, 0 0);
}

header h1{
    color: #FFFF;
    font-size: 70px;
    padding-top: 15%;
    padding-left: 15%; 
}

